body {
  font-family: Lato, Arial;
  background-image: url("images/tree.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 5%;
  display: grid;
  justify-content: center;
  background-attachment: fixed;
}
h1 {
  font-weight: normal;
  font-size: 54px;
  text-transform: uppercase;
  display: block;
  padding-left: 4px;
  color: white;
}
#input-todo {
  margin-top: 20px;
}
#todo-list {
  margin-top: 30px;
  min-width: 460px;
  max-width: 700px;
  max-height: 450px;
  position: center;
  background-color: rgb(83, 146, 102);
  border-top: 60px solid rgb(3, 51, 43);
  overflow:hidden; overflow-y:scroll;
  opacity: 0.8;
}
#status {
  color: white;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#sort-button {
  background-color: rgb(83, 146, 102);
  width: 50px;
  height: 50px;
  color: rgb(3, 51, 43);
  border-color: rgb(250, 241, 241);
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 50%;
}
#sort-button:focus {
  outline: none;
}
#sort-button:hover {
  background: none;
  color: white;
}
#search-button {
  background-color: rgb(83, 146, 102);
  width: 50px;
  height: 50px;
  color: rgb(3, 51, 43);
  border-color: rgb(250, 241, 241);
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 50%;
  margin-left: 468px;
  margin-top: 10px;
}
#search-button:focus{
  outline: none;
}
#search-button:hover{
  background: none;
  color: white;
}
ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0%;
  margin-bottom: 0px;
}
li {
  display: flex;
  outline: none;
  border-bottom: solid 2px #c4df9b;
  position: relative;
}
ul li:hover {
  background: rgb(110, 170, 128);
}
.checkbox {
  display: inline-block;
  height: 30px;
  width: 30px;
  margin-right: 10px;
  align-self: center;
  box-sizing: 16px;
  outline: none;
  margin-left: 5px
}
.checkbox:hover {
  background-color: rgb(163, 154, 154);
}
.todo-container {
  display: flex;
  line-height: 60px;
  font-size: 20px;
}
.todo-created-at {
  margin-left: 16px;
  margin-right: 16px;
  font-family: "Times New Roman", Times, serif;
  color: white;
}
.todo-priority {
  color: darkred;
}
.todo-text{
  margin-right: 30px;
  word-break: break-all;
}
input {
  margin: 0;
  font-size: 24px;
  line-height: 18px;
  height: 18px;
  padding: 10px;
  border: none;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
  opacity: 0.8;
  width: 400px;
}
input:focus {
  outline: none;
}
#priority-selector {
  font-size: 28px;
  border-radius: 6px;
  background: none;
  color: white;
}
#priority-selector:hover {
  outline: none;
  border: none;
  background-color: rgb(83, 146, 102);
  color: rgb(3, 51, 43);
}
#priority-selector:active {
  color: teal;
}
#priority-selector:focus {
  outline: none;
}
#add-button {
  background-color: rgb(83, 146, 102);
  width: 50px;
  height: 50px;
  color: rgb(3, 51, 43);
  border-color: white;
  text-align: center;
  font-size: 36px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 50%;
}
#add-button:hover {
  background: none;
  color: white;
  border-color: white;
}
#add-button:focus {
  position: relative;
  outline: none;
}
.remove-button {
  position: absolute;
  font-size: 200%;
  font-weight: bolder;
  right: 0;
  display: block;
  height: 35px;
  border: none;
  background: transparent;
  cursor: pointer;
  align-self: center;
}
.remove-button:hover {
  background-color: rgb(145, 77, 77);
}
.remove-button:focus {
  outline: none;
}
#counterTitle{
  margin-left: 10px;
  margin-right: 10px;
}